# Supabase connection (use the Publishable key, never a secret/service_role key)
NEXT_PUBLIC_SUPABASE_URL=https://kodypakhrxwdbxffxtxt.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_MTjG9D2zFAFDKLwLdsVu-g_uEkp7z1E
